:root {
    --ecf-green: #749B88;
    --ecf-red: #FC6467;
    --link-blue: #2F80ED;
    --border-color: silver;
    --nav-height: 12vh;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

a, h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.4vw;
    font-weight: 600;
}

a {
    color: white;
}

a:hover {
    color: var(--link-blue);
}

html, body {
    height: 100%;
}

body, .wrapper {
    /* Flex to ensure sticky footer */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Remember to substitute this when testing the bounds of the nav! */
}

/* Nav start */
/* TODO mobile nav */
nav {
    display: flex;
    flex-direction: row;
    height: var(--nav-height);
    width: 100vw;
    background-color: white;
}

nav img {
    /* Ensure that height does not exceed var(--nav-height) */
    height: 8vh;
    padding: 2vh 0 2vh 2vw;
    color: black;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* No grid gap in favour of borders for each individual li */
    /* width of 70% to ensure some spacing between the logo and everything else */
    width: 70%;
    height: 100%;
    /* The nice and handy align left */
    margin: auto 0 auto auto;
}

nav li {
    /* The position: relative is important! Without this, the width 100% will not work for the nav dropdown*/
    position: relative;
    /* Borders are used to help denote what is the current page. See more in .current */
    border-top: 1.5vh solid white;
    border-bottom: 1.5vh solid white;
    /*
    This specific border behaviour causes weird artifacting, but I think I prefer it this way.
    No specific reason why these border sizes were chose, just ensure that they are the same
    */
    border-left: 0.007vw solid var(--border-color);
    border-right: 0.007vw solid var(--border-color);
}

.nav-home-border {
    /* We don't want a left divider on the left most element */
    border-left: 0;
}

nav li a {
    /* Just positioning for nav links */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    color: black;
    background-color: white;
}

nav li a:hover {
    color: var(--ecf-green);
}

.nav-current {
    /*
     We indicate the current page using a bottom green border.
     This works as the element containing the content is smaller than the actual nav, but with top and bottom borders.
     This allows us to just change tho colour of the border to indicate the current page.
     However, this does come with the tradeoff that when the border is clicked (specifically the default top and bottom borders),
     the link that the border is clicking will not be clicked.
     This seems like a worthy tradeoff though,
     as the only noticeable affected area is the tiny bit between the top of the screen and the respective nav element.
    */
    border-bottom: 1.5vh solid var(--ecf-green);
}

/* Some stuff to affect the display of the dropdown/caret icon */
.nav-dropdown {
    display: none;
    position: absolute;
    width: 100%;
}

.fa-caret-up {
    display: none;
}

li:hover .nav-dropdown, li:hover .fa-caret-up {
    display: block;
}

li:hover .fa-caret-down {
    display: none;
}

/*
We use separate elements for border and content because we need them to be a different colour
While the border is white, the gap between the content isn't.
Trying to put these two requirements in the same element would be a pain, and it's probably just easier to use two divs.
This also has the added benefit of still showing the dropdown contents even when the mouse is slightly outside of it.
*/
.nav-dropdown-border {
    display: flex;
    flex-direction: column;
    padding: 0 0.75vw;
    background-color: white;
}

.nav-dropdown-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.15rem;
    background-color: var(--border-color);
}

.nav-dropdown-content a {
    /* Slightly off left effect */
    padding: 0.75vw;
    justify-content: left;
}

/*
Borders are used to help denote what is the current page.
Unlike all other elements, the default for this is green.
See more in .current
*/
.nav-donate-border {
    border-top: 1.5vh solid var(--ecf-green);
    border-bottom: 1.5vh solid var(--ecf-green);
    /* If we don't remove this, the right of the screen will have a tiny white border*/
    border-right: 0;
}

.nav-donate-border:hover {
    border-top: 1.5vh solid black;
    border-bottom: 1.5vh solid black;
}

.nav-donate {
    background-color: var(--ecf-green);
}

/* We listen to the hover of the border as we want uniform transitions in .nav-donate when the border is hovered */
.nav-donate-border:hover .nav-donate {
    background-color: black;
    color: var(--ecf-green);
}

/* Nav end */

.content {
    /* Default sticky footer stuff*/
    display: flex;
    flex: 1 0 auto;
}

/* Footer start */
/* TODO minor adjustments for mobile footer*/
footer {
    display: flex;
    flex-direction: column;
    row-gap: 7vh;
    width: 100vw;
    padding: 5vh 0;
    color: white;
    background-image: url("../background/footer.webp");
    /* bg-colour as backup */
    background-color: var(--ecf-green);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 1.4vw;
}

.socials {
    display: flex;
    /* Width is restricted to ensure a closer spread of the icons */
    width: 35%;
    align-self: center;
    justify-content: space-evenly;
}

/* Footer end*/
