:root {
    --ecf-green: #749B88;
    --ecf-red: #FC6467;
    --link-blue: #2F80ED;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Quicksand", sans-serif;
}

a {
    font-family: "Quicksand", sans-serif;
    color: white;
}

a:hover {
    color: var(--link-blue);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
}

nav img {
    height: 10vh;
    margin: 1em 0 1em 2em;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.25vw;
    width: 70%;
    height: 100%;
    margin: auto 0 auto auto;
    background-color: silver; /* Acts as the border colour */
}

nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    color: white;
    background-color: darkgoldenrod;
}

nav .current {
    /* TODO Style this when selected */
}

nav .dropdown {
    display: none;
    position: absolute;
    background-color: orange;
    /*TODO Fix div size relative to "about us"*/
    width: 11.5em;
    z-index: 1;
}

/* IDK why this works to show the dropdown, but it does, so don't remove this unless a better solution is found */
nav li:hover .dropdown {
    display: block;
}

.dropdown a {
    padding: 1rem;
    border-top: 0.025rem solid black;
    text-align: center;
}

nav .donate {
    background-color: var(--ecf-green);
}

.content {
    flex: 1 0 auto;
}

.footer {
    /* TODO: USE THIS INSTEAD OF BACKGROUND COLOUR WHEN IT IS AVAILABLE
    background-image: url("/assets/footer.png");
    */
    background-color: var(--ecf-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color: white;
    padding: 2em 0 3em;
    text-align: center;
}

.footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2vh;
    margin: 1em 0;
}

.footer .socials {
    display: flex;
    width: 50vh;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em 0 0;
}
