:root {
    --ecf-green: #749B88;
    --ecf-red: #FC6467;
    --link-blue: #2F80ED;
    --border-color: silver;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

a, h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
}

a {
    color: white;
}

a:hover {
    color: var(--link-blue);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: lightblue;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
}

nav img {
    height: 8vh;
    padding: 1em 0 1em 2em;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.15vw;
    width: 70%;
    height: 100%;
    margin: auto 0 auto auto;
    background-color: var(--border-color);
}

nav li {
    position: relative;
}

nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    color: black;
    background-color: white;
}

nav li a:hover {
    color: var(--ecf-green);
}

.current {
    /* TODO Style this when selected */
}

.nav-dropdown {
    display: none;
    position: absolute;
    width: 100%;
}

.fa-caret-up {
    display: none;
}

/* IDK why this works to show the dropdown, but it does, so don't remove this unless a better solution is found */
li:hover .nav-dropdown, li:hover .fa-caret-up {
    display: flex;
    flex-direction: column;
    /*row-gap: 0.05vh;*/
}

li:hover .fa-caret-down {
    display: none;
}

.nav-dropdown-border {
    display: flex;
    flex-direction: column;
    padding: 0 0.75vw;
    background-color: white;
}

.nav-dropdown-content {
    display: flex;
    row-gap: 0.15rem;
    flex-direction: column;
    background-color: var(--border-color);
}

.nav-dropdown-content a {
    padding: 0.75vw;
    justify-content: left;
    /*text-align: center;*/
    /*border: 0.005rem solid white;*/
    /*border-radius: 0.25rem;*/
}

.donate {
    background-color: var(--ecf-green);
}

.donate:hover {
    background-color: black;
}

.content {
    flex: 1 0 auto;
}

.footer {
    /* TODO: USE THIS INSTEAD OF BACKGROUND COLOUR WHEN IT IS AVAILABLE
    background-image: url("/assets/footer.png");
    */
    background-color: var(--ecf-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color: white;
    padding: 2em 0 3em;
    text-align: center;
}

.footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2vh;
    margin: 1em 0;
}

.footer .socials {
    display: flex;
    width: 50vh;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em 0 0;
}
